//--- COMMON VARIABLES ---//
$small--device--width: 576px;
$large--device--width: 900px;

$page--margin: 0px;
$page--padding: 20px;
$page--font-family: sans-serif;
$page--background-color: #f8f8ff;

$my-resume-page--display: flex;

//--- LARGE DEVICE VARIABLES ---//
$large--my-resume-page--flex-flow: row;
$large--main-section--flex: 3;
$large--links-section--flex: 1;
$large--description-container--width: 75%;

//--- SMALL DEVICE VARIABLES ---//
$small--my-resume-page--flex-flow: column;
$small--main-section--flex: auto;
$small--links-section--flex: auto;
$small--description-container--width: 85%;

//--- COMMON STYLES ---//
.my-name {
  display: flex;
  justify-content: start;

  > * {
  text-align: center;
  }
}

.description-container {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 30px;
  justify-content: space-between;
}

.word {
  height: 7px;
  line-height: 7px;
  margin: 3px;
  padding: 0px 7px;
  background-color: gray;
  border-radius: 7px;
}

.links-section {
  display: flex;
  flex-flow: row wrap;
  justify-items: center;
}

.linkedin-badge {
  display: flex;
  justify-content: center;
  width: 100%;
}

.social-media {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin: 20px 0px;
  width: 100%;
}

.popup-modal {
  display: none;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.25);
}

.popup-content {
  background-color: white;
  position: absolute;
}

.popup-close {

}

.popup-text {

}

.standard-btn {
  font-size: 14px;
  background-color: transparent;
  border: 1px solid;
  border-radius: 4px;
  height: 35px;
  letter-spacing: 0.2px;
  text-align: center;
  width: 100px;
}

.shared-image {
  margin: 5px;
  border: solid thin;
  border-radius: 1px;
}