.my-resume-page {
  display: $my-resume-page--display;
  flex-flow: $large--my-resume-page--flex-flow;
}

.main-section {
  flex: $large--main-section--flex;
}

.links-section {
  flex: $large--links-section--flex;

  .description-container {
    margin-left: $large--description-container--margin-left;
  }
}

.description-container {
  width: $large--description-container--width;
}