@import "./common.scss";

body {
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
  background: $page_background;
}

// Small devices (landscape phones, 576px and up to 900)
@media screen and (min-width: 576px) and (max-width: 900px) { 
  @import "./small-devices-style.scss";
 }

// Large devices (desktops, 901px and up)
@media screen and (min-width: 901px) { 
  @import "./large-devices-style.scss";
 }