@import "./common.scss";

body {
  margin: $page--margin;
  padding: $page--padding;
  font-family: $page--font-family;
  background-color: $page--background-color;
}

.description-container {
  display: $description-container--display;
  flex-flow: $description-container--flex-flow;
  margin-bottom: $description-container--margin-bottom;
}

.word {
  height: $word--height;
  line-height: $word--line-height;
  margin: $word--margin;
  padding: $word--padding;
  background-color: $word--background-color;
  border-radius: $word--border-radius;
}

.linkedin-badge {
  display: $linkedin-badge--display;
  justify-content: $linkedin-badge--justify-content;
}

@media screen and (min-width: $small--device--width) and (max-width: calc(var($large--device--width) - 1px)) { 
  @import "./small-devices-style.scss";
}

@media screen and (min-width: $large--device--width) { 
  @import "./large-devices-style.scss";
}